<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.mapper.SuccessKilledDao">
    <resultMap type="com.yss.domain.SuccessKilledInfo" id="successKilledInfo"><!-- type为返回列表元素的类全名或别名 -->
        <result column="seckill_Id" property="seckillId" />
        <result column="user_phone" property="userPhone" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <insert id="add" parameterType="com.yss.domain.SuccessKilledInfo" useGeneratedKeys="true">
        insert into success_killed (user_phone,state,create_time)
        values
        (#{userPhone},#{state},now())
    </insert>

</mapper>